/* Regole generali della pagina */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Akaya Telivigala', cursive;
}

a{
    text-decoration: none;
    font-size: 14px;
}

ul{
    list-style-type: none;
}

.container{
    display: flex;
    flex-direction: row;
}

/* Regole menù sinistro */
.nav_left{
    height: calc(100vh - 100px);
    width: 200px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    height: 100px;
    display: flex;
    align-items: center;
}

.logo img{
    width: 150px;
    height: auto;
}

/* Regole dei sottomenù sinistra */
.nav_left ul{
    margin-bottom: 10px;
}

.nav_left li{
    padding: 5px 15px;
}

.nav_left li:first-child a{
    color: white;
}

#selected{
    position: relative;
}

.selettore{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #C8FF00;
}

.nav_left a, #selezione a{
    color: rgb(128, 128, 128);
}

.nav_left img{
    height: 20px;
    vertical-align: middle;
}

#plus{
    color: black;
    padding: 5px;
    background-color: rgb(128, 128, 128);
}

.utente{
    width: 90%;
    margin:0 auto;
}

#upgrade{
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    margin-right: 10px;
}

/* Regole menù utente sinistra */
.installa{
    padding-bottom: 10px;
}

.profilo{
    margin: 10px 0;
}

.profilo img{
    border-radius: 50%;
    padding: 0 2px;
    background-color: rgb(128, 128, 128);
}

.profilo span{
    color: white;
    font-size: 16px;
}

.installa{
    border-bottom: 1px solid rgb(128, 128, 128);
}

#download{
    height: 15px;
    vertical-align: middle;
}

/* Regole parte destra */
.colonne_right{
    width: calc(100% - 200px);
    height: calc(100vh - 100px);
}

/* Regole navbar interna */
.nav_interna{
    height: 100px;
    background-color: blue;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


/* Regole blocco con scroll */
.container_musica{
    height: calc(100vh - 200px);
    background-color: red;
    overflow: auto;
}

#selezione{
    margin: 10px auto;
    text-align: center;
}

#selezione li{
    display: inline-block;
}

.row_flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.row_flex .musica{
    background-color: yellow;
    border: 1px solid black;
    height: 200px;
    width: calc(100% / 6);
    padding: 0 5px;
}

/* Regole del player */
.player{
    height: 100px;
    background-color: blue;
}
