/* Regole generali della pagina */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Akaya Telivigala', cursive;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.container{
    display: flex;
    flex-direction: row;
}

/* Regole menù sinistro */
.nav_left{
    height: calc(100vh - 100px);
    width: 200px;
    background-color: black;
    display: flex;
    flex-direction: column;
}

#logo{
    height: 100px;
    margin-left: 15px;
    display: flex;
    align-items: center;
}

#logo img{
    width: 150px;
    height: auto;
}

#logo #logo_piccolo{
    display: none;
    width: 25px;
}

/* Regole dei sottomenù sinistra */
.nav_left ul{
    margin-bottom: 10px;
}

.nav_left li{
    padding: 2px 15px;
}

.selected{
    position: relative;
}

.selezione_verticale{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: rgb(26,252,31);
}

.selected:hover .selezione_verticale{
    display: block;
}

.nav_left a, #selezione a{
    color: rgb(128, 128, 128);
    font-size: 14px;
}

.nav_left a:hover, #selezione a:hover{
    color: white;
}

.nav_left img{
    height: 20px;
    vertical-align: middle;
}

.nuova_playlist{
    padding: 2px 15px;
}

.nuova_playlist h4{
    color: white;
    margin: 5px 0;
}

#plus{
    color: black;
    padding: 5px;
    background-color: rgb(128, 128, 128);
}

#playlist {
    flex-grow: 1;
    min-height: 70px;
    overflow: auto;
}

.utente{
    width: 90%;
    margin:0 auto;
}

/* Regole menù utente sinistra */
.installa{
    padding-bottom: 10px;
}

.profilo{
    margin: 10px 0;
}

.profilo img{
    border-radius: 50%;
    padding: 0 2px;
    background-color: rgb(128, 128, 128);
}

.profilo span{
    font-size: 16px;
}

.installa{
    border-bottom: 1px solid rgb(128, 128, 128);
}

#download{
    height: 15px;
    vertical-align: middle;
}

/* Regole parte destra */
.colonne_right{
    width: calc(100% - 200px);
    height: calc(100vh - 100px);
}

/* Regole navbar interna */
.nav_interna{
    height: 100px;
    background-color: #080b12;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#upgrade{
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    margin-right: 10px;
}

#upgrade:hover{
    font-size: 18px;
}

/* Regole blocco con scroll */
section{
    margin: 30px 0;
}

.container_musica{
    height: calc(100vh - 200px);
    background-color: #141922;
    overflow: auto;
    padding: 20px;
}

#selezione{
    margin: 10px auto;
    text-align: center;
}

#selezione li{
    display: inline-block;
    margin: 0 5px;
}

#selezione li:first-child{
    position: relative;
}

.selezione_orizzontale{
    display: none;
    width: 30px;
    height: 3px;
    margin: 0 auto;
    background-color: rgb(26,252,31);
}

#selezione li:hover .selezione_orizzontale{
    display: block;
}

/* Regole riquadri musica */
.row_flex{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.row_flex li{
    max-width: calc(100% / 6 - 20px);
    margin: 0 10px;
}

.container_musica .row_flex li{
    text-align: center;
}

.container_musica .album{
    position: relative;
}

.container_musica img{
    width: 100%;
    max-height: 300px;
}

.container_musica .layover{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 5px );
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.container_musica .layover i{
    color: white;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.album:hover .layover{
    display: block;
}

.container_musica .circle img, .container_musica .circle .layover{
    border-radius: 50%;
}

/* Regole Testi  */
.container_musica h2, .container_musica h3{
    color: white;
}

.container_musica h2{
    margin: 10px;
}

.container_musica h3{
    margin: 15px 0;
}

.container_musica h5{
    color: rgb(128, 128, 128);
}

.container_musica section > h5{
    margin: 10px;
}

/* Regole della barra player */
.barra_player{
    min-height: 100px;
    background-color: #282828;
    color: rgb(128, 128, 128);
    padding: 0 10px;
    position: relative;
    z-index: 900;
}

.barra_player, .barra_player .brano, .barra_player .favourite{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player{
    width: 40%;
    min-width: 180px;
    text-align: center;
    color: white;
}

.barra_player img{
    width: 50px;
}

.nome_brano h5{
    color: white;
}

.barra_player .nome_brano{
    margin: 0 20px 0 10px;
}

.favourite i{
    margin: 0 5px;
}

.barra_player a{
    color: white;
}

.player i{
    font-size: 15px;
    margin: 10px;
}

.barra_player .fa-play-circle{
    font-size: 20px;
}

.barra_player .fa-play-circle:hover{
    font-size: 25px;
}

.barra_caricamento .barra, .barra_caricamento .barra_chiara{
    height: 3px;
    width: calc(100% - 150px);
    border-radius: 10px;
}

.barra_caricamento .barra, .volume .barra{
    display: inline-block;
    background-color: rgb(128, 128, 128);
    margin: 0 10px;
    position: relative;
}

.barra_caricamento .barra_chiara, .volume .barra_chiara{
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    animation-name: play;
    animation-duration: 60s;
    animation-play-state: paused;
    animation-timing-function: linear;
}

.pallina{
    display: none;
    position: absolute;
    top: -6px;
    right: -6px;
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.barra:hover .pallina, .barra:hover .pallina_volume{
    display: block;
}

.barra:hover .barra_chiara{
    background-color: rgb(26,252,31);
    animation-play-state: running;
}

@keyframes play {
    from {width: 1%;}
    to {width: 100%;}
}

.barra_player .volume{
    display: flex;
    align-items: center;
    width: 190px;
}

.favourite{
    display: flex;
    flex-direction: row;
}

.favourite a{
    color: rgb(128, 128, 128);
}

.favourite a:hover{
    color: white;
}

.volume{
    color: white;
}

.volume i{
    margin: 0 5px;
    font-size: 20px;
}

.volume .barra{
    width: 50%;
}

.volume .barra, .volume .barra_chiara{
    height: 3px;
    border-radius: 20px;
}

.pallina_volume{
    display: none;
    position: absolute;
    top: -3px;
    right: -10px;
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

/* MediaQ */
/* Lg ( fino a 1200), Md (1199 a 992), S (991 a 678), Xs (sotto i 677) */

/* XS */
@media all and (max-width: 677px ) {

/* media xs navbar sinistra */

    #logo img{
        display: none;
    }

    #logo #logo_piccolo{
        display: block;
    }

    .nuova_playlist{
        display: none;
    }

    #playlist{
        display: none;
    }

    .utente{
        text-align: center;
    }

/* media xs parte albums */
    .row_flex li{
        max-width: calc(100% / 2 - 20px);
    }

    .nav_left span{
        display: none;
    }

    .nav_left{
        width: 50px;
    }

    .nav_left ul{
        flex-grow: 1;
    }
    .colonne_right{
        width: calc(100% - 50px);
    }

/* media xs player */
    .barra_player .brano img{
        width: 25px;
    }

    .player i{
        font-size: 10px;
        margin: 10px;
    }

    .barra_player .volume{
        width: 140px;
    }

    .volume i{
        font-size: 10px;
    }
}

/* S */
@media all and (max-width: 991px ){
    .row_flex li{
        max-width: calc(100% / 2 - 20px);
        margin-top: 20px;
    }

    .favourite{
        flex-direction: column;
    }
}

/* Md */
@media all and (max-width: 1199px ) and (min-width: 992px) {
    .row_flex li{
        max-width: calc(100% / 4 - 20px);
    }
}

@media all and (max-height: 438px) {
    .nav_interna{
        display: none;
    }

    .container_musica{
        height: 100vh;
    }
}
